# Overview

# Import data

In [1]:
import pandas as pd
df = pd.read_csv('HSLS_dataset2.csv')

# Data Study

In [2]:
df.shape

(23503, 48)

In [3]:
df.head()

,STU_ID,X1TXMTSCOR,X2SEX,X2RACE,X2DUALLANG,X2TXMTSCOR,X2MOMEDU,X2DADEDU,X2FAMINCOME,X2SES,...,X3TAGPA10,X3TAGPA11,X3TAGPA12,X3TAGPA09,X3TAGPAWGT,Peer_influence,Teacher_support,Parents_Support,MathScore,Mathscore2
0,10001,59.3710,1,8,1,68.6447,6,6,11,1.5649,...,3.0,3.5,3.5,3.5,3.5,4.250000000000000,2.600000000000000,2.571428571428570,1.00,1.00
1,10002,47.6821,2,8,1,54.0863,4,2,3,-0.3307,...,4.0,3.5,4.0,4.0,4.0,2.250000000000000,2.600000000000000,3.857142857142860,0.00,1.00
2,10003,64.2431,2,3,1,55.6336,7,-9,6,1.0141,...,2.5,2.0,2.5,3.0,3.0,3.750000000000000,3.600000000000000,4.000000000000000,0.00,1.00
3,10004,49.2690,2,8,1,-9.0000,2,4,3,-0.3347,...,4.0,4.0,4.0,3.5,4.5,#NULL!,#NULL!,2.285714285714290,#NULL!,#NULL!
4,10005,62.5897,1,8,1,50.5818,5,-9,7,0.9661,...,3.0,3.5,3.0,3.0,3.5,#NULL!,#NULL!,3.714285714285710,0.00,0.00

In [4]:
df.describe()

,STU_ID,X1TXMTSCOR,X2SEX,X2RACE,X2DUALLANG,X2TXMTSCOR,X2MOMEDU,X2DADEDU,X2FAMINCOME,X2SES,...,X3TGPA9TH,X3TGPA10TH,X3TGPA12TH,X3TGPATOT,X3TGPAWGT,X3TAGPA10,X3TAGPA11,X3TAGPA12,X3TAGPA09,X3TAGPAWGT
count,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,...,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000,23503.000000
mean,22594.785304,45.843619,1.490491,6.254053,1.187763,44.012727,1.283879,-0.662043,3.133898,-0.916711,...,1.545781,0.986236,0.265753,1.902757,2.012562,0.853583,0.437816,0.116794,1.417479,1.898811
std,7269.600664,19.531459,0.499920,2.186190,0.860255,22.075704,4.975457,6.044324,5.145015,2.927101,...,3.629350,4.269209,5.041516,3.087040,3.142036,4.254133,4.669585,5.007648,3.622925,3.149387
min,10001.000000,-9.000000,1.000000,1.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,16300.500000,42.066050,1.000000,5.000000,1.000000,39.846450,2.000000,-9.000000,2.000000,-0.680900,...,2.000000,1.500000,1.500000,2.000000,2.000000,1.500000,1.500000,1.000000,1.500000,2.000000
50%,22583.000000,49.946900,1.000000,8.000000,1.000000,49.822800,2.000000,2.000000,3.000000,-0.108900,...,2.500000,2.500000,3.000000,2.500000,3.000000,2.500000,2.500000,2.500000,2.500000,2.500000
75%,28874.500000,57.384050,2.000000,8.000000,1.000000,56.411500,5.000000,4.000000,6.000000,0.536650,...,3.500000,3.500000,3.500000,3.500000,3.500000,3.500000,3.000000,3.500000,3.500000,3.500000
max,35206.000000,82.187600,2.000000,8.000000,3.000000,84.905100,7.000000,7.000000,13.000000,2.282400,...,4.000000,4.000000,4.000000,4.000000,4.750000,4.000000,4.000000,4.000000,4.000000,4.750000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23503 entries, 0 to 23502
Data columns (total 48 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STU_ID           23503 non-null  int64
 1   X1TXMTSCOR       23503 non-null  float64
 2   X2SEX            23503 non-null  int64
 3   X2RACE           23503 non-null  int64
 4   X2DUALLANG       23503 non-null  int64
 5   X2TXMTSCOR       23503 non-null  float64
 6   X2MOMEDU         23503 non-null  int64
 7   X2DADEDU         23503 non-null  int64
 8   X2FAMINCOME      23503 non-null  int64
 9   X2SES            23503 non-null  float64
 10  X2SESQ5          23503 non-null  int64
 11  X2BEHAVEIN       23503 non-null  float64
 12  X2MEFFORT        23503 non-null  float64
 13  X2MTHID          23503 non-null  float64
 14  X2MTHEFF         23503 non-null  float64
 15  X2STUEDEXPCT     23503 non-null  int64
 16  X2PAREDEXPCT     23503 non-null  int64
 17  X2CONTROL        23503 non-null  int64
 18  X2LOCALE         23503 non-null  int64
 19  X2REGION         23503 non-null  int64
 20  X3TGPAENG        23503 non-null  float64
 21  X3TGPAMAT        23503 non-null  float64
 22  X3TGPASCI        23503 non-null  float64
 23  X3TGPASOCST      23503 non-null  float64
 24  X3TGPAART        23503 non-null  float64
 25  X3TGPALANG       23503 non-null  float64
 26  X3TGPAHELPE      23503 non-null  float64
 27  X3TGPACOMPSCI    23503 non-null  float64
 28  X3TGPABUS        23503 non-null  float64
 29  X3TGPAMISC       23503 non-null  float64
 30  X3TGPAACAD       23503 non-null  float64
 31  X3TGPASTEM       23503 non-null  float64
 32  X3TGPA11TH       23503 non-null  float64
 33  X3TGPA9TH        23503 non-null  float64
 34  X3TGPA10TH       23503 non-null  float64
 35  X3TGPA12TH       23503 non-null  float64
 36  X3TGPATOT        23503 non-null  float64
 37  X3TGPAWGT        23503 non-null  float64
 38  X3TAGPA10        23503 non-null  float64
 39  X3TAGPA11        23503 non-null  float64
 40  X3TAGPA12        23503 non-null  float64
 41  X3TAGPA09        23503 non-null  float64
 42  X3TAGPAWGT       23503 non-null  float64
 43  Peer_influence   23503 non-null  object
 44  Teacher_support  23503 non-null  object
 45  Parents_Support  23503 non-null  object
 46  MathScore        23503 non-null  object
 47  Mathscore2       23503 non-null  object
dtypes: float64(30), int64(13), object(5)
memory usage: 8.6+ MB

# Data Preprocessing

### Copy data

In [6]:
# deep copy df
df_cp = df.copy(deep=True)

### Define independent variables

In [7]:
indep_vars = [
    'X2SEX',
    'X2RACE',               
    'X2MOMEDU',             
    'X2DADEDU',             
    'X2SES',              
    'X2BEHAVEIN',         
    'X2MEFFORT',          
    'X2MTHID',            
    'X2MTHEFF',           
    'X2STUEDEXPCT',         
    'X2PAREDEXPCT',         
    'Peer_influence',      
    'Teacher_support']

### Define target variable

In [8]:
target = 'Mathscore2'

### Remove unnecessary variables

In [9]:
import numpy as np
# unwanted columns
del_cols = df_cp.columns.difference(np.intersect1d(df.columns, indep_vars+[target]))
del_cols

Index(['MathScore', 'Parents_Support', 'STU_ID', 'X1TXMTSCOR', 'X2CONTROL',
       'X2DUALLANG', 'X2FAMINCOME', 'X2LOCALE', 'X2REGION', 'X2SESQ5',
       'X2TXMTSCOR', 'X3TAGPA09', 'X3TAGPA10', 'X3TAGPA11', 'X3TAGPA12',
       'X3TAGPAWGT', 'X3TGPA10TH', 'X3TGPA11TH', 'X3TGPA12TH', 'X3TGPA9TH',
       'X3TGPAACAD', 'X3TGPAART', 'X3TGPABUS', 'X3TGPACOMPSCI', 'X3TGPAENG',
       'X3TGPAHELPE', 'X3TGPALANG', 'X3TGPAMAT', 'X3TGPAMISC', 'X3TGPASCI',
       'X3TGPASOCST', 'X3TGPASTEM', 'X3TGPATOT', 'X3TGPAWGT'],
      dtype='object')

In [10]:
df_cp = df_cp.drop(columns=del_cols)
df_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23503 entries, 0 to 23502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   X2SEX            23503 non-null  int64
 1   X2RACE           23503 non-null  int64
 2   X2MOMEDU         23503 non-null  int64
 3   X2DADEDU         23503 non-null  int64
 4   X2SES            23503 non-null  float64
 5   X2BEHAVEIN       23503 non-null  float64
 6   X2MEFFORT        23503 non-null  float64
 7   X2MTHID          23503 non-null  float64
 8   X2MTHEFF         23503 non-null  float64
 9   X2STUEDEXPCT     23503 non-null  int64
 10  X2PAREDEXPCT     23503 non-null  int64
 11  Peer_influence   23503 non-null  object
 12  Teacher_support  23503 non-null  object
 13  Mathscore2       23503 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 2.5+ MB

### Dividing the dataset into Training data and Testing data

In [11]:
from sklearn.model_selection import train_test_split

# divide train and test data
df_train, df_test = train_test_split(df_cp, train_size=0.9, random_state=42, \
                                    stratify=df_cp[target])
# reset index
df_train, df_test = df_train.reset_index(drop=True), df_test.reset_index(drop=True)

In [12]:
# overview on train
print(df_train.shape)
df_train.head()

(21152, 14)

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,1,3,-9,-9,-9.0000,-9.00,-9.00,-9.00,-9.00,-9,-9,#NULL!,#NULL!,#NULL!
1,1,8,5,5,0.4621,-2.50,-9.00,0.16,-0.27,4,10,2.000000000000000,1.000000000000000,0.00
2,1,5,-9,-9,-9.0000,-9.00,-9.00,-9.00,-9.00,-9,-9,#NULL!,#NULL!,#NULL!
3,1,3,4,5,0.5115,0.43,-0.14,0.70,0.88,8,11,3.250000000000000,3.800000000000000,0.00
4,2,5,-9,-9,-9.0000,-9.00,-9.00,-9.00,-9.00,-9,-9,#NULL!,#NULL!,#NULL!

In [13]:
# overview on test
print(df_test.shape)
df_test.head()

(2351, 14)

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,2,5,1,2,-1.0262,0.38,-1.44,-1.54,-0.24,2,8,2.250000000000000,3.200000000000000,0.00
1,1,6,2,5,0.0436,-0.17,0.85,0.70,0.11,11,10,4.000000000000000,2.600000000000000,1.00
2,1,8,2,2,-0.8160,-3.60,-9.00,0.70,0.32,2,4,2.666666666666670,#NULL!,0.00
3,1,8,5,-9,0.4768,0.10,0.50,0.70,0.32,10,10,3.250000000000000,3.800000000000000,1.00
4,2,6,6,4,0.7546,0.08,-0.14,0.12,-9.00,6,13,4.333333333333330,2.200000000000000,0.00

### Dividing the dataset into Training data and Validation data

In [14]:
# divide train and validation data
df_train, df_valid = train_test_split(df_train, train_size=0.8, random_state=42, \
                                    stratify=df_train[target])
# reset index
df_train, df_valid = df_train.reset_index(drop=True), df_valid.reset_index(drop=True)

In [15]:
# overview on train
print(df_train.shape)
df_train.head()

(16921, 14)

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,2,8,-9,2,-0.4307,-9.00,-9.00,-9.00,-9.00,-9,8,#NULL!,#NULL!,#NULL!
1,1,5,2,2,-0.8878,-0.31,0.19,-0.96,-0.15,8,10,4.000000000000000,3.600000000000000,0.00
2,1,6,6,4,1.3277,-2.22,-9.00,-0.42,-9.00,10,8,3.250000000000000,2.000000000000000,0.00
3,2,6,2,2,-0.5881,0.91,1.18,1.82,1.17,10,8,3.000000000000000,3.000000000000000,1.00
4,2,5,5,5,1.1812,0.42,-1.09,-0.42,0.11,10,8,3.500000000000000,2.600000000000000,0.00

In [16]:
# overview on validation
print(df_valid.shape)
df_valid.head()

(4231, 14)

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,2,8,5,4,1.1062,0.87,-9.00,0.16,0.32,8,10,4.000000000000000,#NULL!,1.00
1,2,8,2,2,-0.7505,0.31,-0.79,-1.54,-1.73,13,8,4.000000000000000,2.400000000000000,0.00
2,2,4,4,7,0.3782,0.45,1.18,0.16,-0.06,8,8,2.666666666666670,3.000000000000000,1.00
3,1,8,2,2,-0.9603,-1.55,-9.00,-1.54,-2.50,2,12,2.750000000000000,#NULL!,0.00
4,1,6,-9,-9,-9.0000,-9.00,-9.00,-9.00,-9.00,-9,-9,#NULL!,#NULL!,#NULL!

# Handle the Missing data

### Combining the training, validation and testing data

In [17]:
df = pd.concat([df_train, df_valid, df_test], sort=False)
df.shape

(23503, 14)

### Identifying missing values

Get numerical variables

In [40]:
# convert -9 to np.nan
df['X2MTHID'].dtype=='float64'
# extract all numerical columns
num_cols = [col for col in df.columns if df[col].dtype == 'float64' or df[col].dtype == 'int64']
df[num_cols[2]].value_counts()

['X2SEX', 'X2RACE', 'X2MOMEDU', 'X2DADEDU', 'X2SES', 'X2BEHAVEIN', 'X2MEFFORT', 'X2MTHID', 'X2MTHEFF', 'X2STUEDEXPCT', 'X2PAREDEXPCT', 'Peer_influence', 'Teacher_support']

 2    7160
 5    4476
-9    4114
 4    3108
 6    1674
 1    1576
 3     829
 7     566
Name: X2MOMEDU, dtype: int64

In [43]:
# replace -9 to np.nan
for col in num_cols:
    df[col] = df[col].replace(-9, np.nan)
df[num_cols[2]].value_counts()

2.0    7160
5.0    4476
4.0    3108
6.0    1674
1.0    1576
3.0     829
7.0     566
Name: X2MOMEDU, dtype: int64

get object variables

In [54]:
# extract object type variable
obj_cols = np.setdiff1d(df.columns, num_cols)
print(obj_cols)
df[obj_cols[0]].value_counts()

['Mathscore2' 'Peer_influence' 'Teacher_support']

0.00      10561
1.00      10033
#NULL!     2909
Name: Mathscore2, dtype: int64

In [55]:
# replace #NULL! to np.nan
for col in obj_cols:
    df[col] = df[col].replace('#NULL!', np.nan)
df[obj_cols[0]].value_counts()

0.00    10561
1.00    10033
Name: Mathscore2, dtype: int64

In [57]:
pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.5.5.tar.gz (20 kB)
Collecting knnimpute
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
Requirement already satisfied: numpy>=1.10 in c:\programdata\anaconda3\lib\site-packages (from fancyimpute) (1.18.1)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from fancyimpute) (1.4.1)
Collecting cvxpy>=1.0.6
  Downloading cvxpy-1.1.5-cp37-cp37m-win_amd64.whl (771 kB)
Requirement already satisfied: scikit-learn>=0.21.2 in c:\programdata\anaconda3\lib\site-packages (from fancyimpute) (0.22.1)
Collecting keras>=2.0.0
  Downloading Keras-2.4.3-py2.py3-none-any.whl (36 kB)
Collecting tensorflow
  Downloading tensorflow-2.3.0-cp37-cp37m-win_amd64.whl (342.5 MB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from knnimpute->fancyimpute) (1.14.0)
Collecting osqp>=0.4.1
  Downloading osqp-0.6.1-cp37-cp37m-win_amd64.whl (156 kB)
Collecting scs>=1.1.5
  Downloading scs-2.1.2.tar.gz (3.5 MB)
Collecting ecos>=2
  Downloading ecos-2.0.7.post1.tar.gz (126 kB)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.21.2->fancyimpute) (0.14.1)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from keras>=2.0.0->fancyimpute) (5.3)
Requirement already satisfied: h5py in c:\programdata\anaconda3\lib\site-packages (from keras>=2.0.0->fancyimpute) (2.10.0)
Collecting gast==0.3.3
  Downloading gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Collecting tensorflow-estimator<2.4.0,>=2.3.0
  Downloading tensorflow_estimator-2.3.0-py2.py3-none-any.whl (459 kB)
Collecting absl-py>=0.7.0
  Downloading absl_py-0.10.0-py3-none-any.whl (127 kB)
Collecting keras-preprocessing<1.2,>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Requirement already satisfied: wrapt>=1.11.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow->fancyimpute) (1.11.2)
Collecting grpcio>=1.8.6
  Downloading grpcio-1.32.0-cp37-cp37m-win_amd64.whl (2.5 MB)
Collecting tensorboard<3,>=2.3.0
  Downloading tensorboard-2.3.0-py3-none-any.whl (6.8 MB)
Requirement already satisfied: wheel>=0.26 in c:\programdata\anaconda3\lib\site-packages (from tensorflow->fancyimpute) (0.34.2)
Collecting astunparse==1.6.3
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.13.0-cp37-cp37m-win_amd64.whl (1.0 MB)
Collecting google-pasta>=0.1.8
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: future in c:\programdata\anaconda3\lib\site-packages (from osqp>=0.4.1->cvxpy>=1.0.6->fancyimpute) (0.18.2)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.1-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.7.0-py3-none-any.whl (779 kB)
Requirement already satisfied: setuptools>=41.0.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (45.2.0.post20200210)
Collecting markdown>=2.6.8
  Downloading Markdown-3.2.2-py3-none-any.whl (88 kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.0.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2.22.0)
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.21.1-py2.py3-none-any.whl (93 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\programdata\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (3.0.4)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.1.1-py3-none-any.whl (10 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.5"
  Downloading rsa-4.6-py3-none-any.whl (47 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2.2.0)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Building wheels for collected packages: fancyimpute, knnimpute, scs, ecos, termcolor
  Building wheel for fancyimpute (setup.py): started
  Building wheel for fancyimpute (setup.py): finished with status 'done'
  Created wheel for fancyimpute: filename=fancyimpute-0.5.5-py3-none-any.whl size=26460 sha256=7389648a8f8ddb6c5ba7f0804028e1e7d44f4bab7ecfe146010d0ad61124acc1
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\64\b2\1f\2410102ea3af9ae6df727150b501f7c6cb9b55488c3ba1c36c
  Building wheel for knnimpute (setup.py): started
  Building wheel for knnimpute (setup.py): finished with status 'done'
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11357 sha256=3ba411f15520f0cac3c47abd0dc7c1ea8cb35ca4880a81a35da19d0aa5c1f0f2
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\72\21\a8\a045cacd9838abd5643f6bfa852c0796a99d6b1494760494e0
  Building wheel for scs (setup.py): started
  Building wheel for scs (setup.py): finished with status 'done'
  Created wheel for scs: filename=scs-2.1.2-cp37-cp37m-win_amd64.whl size=116071 sha256=b6b8fc90024b1f82b0ae55f7d7bb28fada2218b529e8e74bf997e84e11d3c503
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\bc\e9\2d\41c52bfaefbbbee5b3c6c189e168039f6ac9b40fa2e14fe96d
  Building wheel for ecos (setup.py): started
  Building wheel for ecos (setup.py): finished with status 'done'
  Created wheel for ecos: filename=ecos-2.0.7.post1-cp37-cp37m-win_amd64.whl size=67552 sha256=e370d0d967ba38b013f71c01a7b6afae71b3484f158670a109c442a17a698919
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\70\e7\fd\4a4f957fc18a0f0407ca4b331c51e6a469c92efec58f732edf
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4835 sha256=6cc4befd746baa11039e548b41dbf95c752f8a935c5638a32998d2322490257f
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\3f\e3\ec\8a8336ff196023622fbcb36de0c5a5c218cbb24111d1d4c7f2
Successfully built fancyimpute knnimpute scs ecos termcolor
Installing collected packages: knnimpute, osqp, scs, ecos, cvxpy, keras, gast, tensorflow-estimator, absl-py, keras-preprocessing, termcolor, opt-einsum, grpcio, cachetools, pyasn1, rsa, pyasn1-modules, google-auth, oauthlib, requests-oauthlib, google-auth-oauthlib, protobuf, tensorboard-plugin-wit, markdown, tensorboard, astunparse, google-pasta, tensorflow, fancyimpute
Successfully installed absl-py-0.10.0 astunparse-1.6.3 cachetools-4.1.1 cvxpy-1.1.5 ecos-2.0.7.post1 fancyimpute-0.5.5 gast-0.3.3 google-auth-1.21.1 google-auth-oauthlib-0.4.1 google-pasta-0.2.0 grpcio-1.32.0 keras-2.4.3 keras-preprocessing-1.1.2 knnimpute-0.1.0 markdown-3.2.2 oauthlib-3.1.0 opt-einsum-3.3.0 osqp-0.6.1 protobuf-3.13.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.6 scs-2.1.2 tensorboard-2.3.0 tensorboard-plugin-wit-1.7.0 tensorflow-2.3.0 tensorflow-estimator-2.3.0 termcolor-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [68]:
from fancyimpute import IterativeImputer as MICE
trans = MICE(verbose=False)
df_complete = df.copy(deep=True)
df_complete.iloc[:,:] = trans.fit_transform(df)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\impute\_iterative.py:638: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [74]:
df_complete

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,2.0,8.0,2.521787,2.000000,-0.4307,0.116901,0.025662,-0.209994,-0.234043,7.995243,8.0,3.167002,2.776423,0.360866
1,1.0,5.0,2.000000,2.000000,-0.8878,-0.310000,0.190000,-0.960000,-0.150000,8.000000,10.0,4.000000,3.600000,0.000000
2,1.0,6.0,6.000000,4.000000,1.3277,-2.220000,-1.321897,-0.420000,-0.617074,10.000000,8.0,3.250000,2.000000,0.000000
3,2.0,6.0,2.000000,2.000000,-0.5881,0.910000,1.180000,1.820000,1.170000,10.000000,8.0,3.000000,3.000000,1.000000
4,2.0,5.0,5.000000,5.000000,1.1812,0.420000,-1.090000,-0.420000,0.110000,10.000000,8.0,3.500000,2.600000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,1.0,8.0,2.835085,5.000000,0.0918,0.850000,-1.470000,-0.420000,0.320000,6.000000,8.0,3.250000,3.800000,0.000000
2347,1.0,2.0,4.000000,2.845093,-0.0126,0.730000,1.180000,0.700000,1.380000,13.000000,6.0,2.666667,2.600000,0.000000
2348,2.0,2.0,2.000000,2.000000,-0.2430,1.210000,0.870000,-0.370000,0.320000,13.000000,10.0,3.333333,4.000000,1.000000
2349,2.0,8.0,6.000000,6.000000,1.3536,0.700000,1.180000,0.120000,-0.350000,10.000000,7.0,4.333333,3.200000,1.000000
2350,2.0,8.0,2.000000,2.000000,-0.4213,0.890000,0.910368,1.820000,0.710000,12.000000,12.0,2.500000,3.128239,1.000000

In [75]:
df

,X2SEX,X2RACE,X2MOMEDU,X2DADEDU,X2SES,X2BEHAVEIN,X2MEFFORT,X2MTHID,X2MTHEFF,X2STUEDEXPCT,X2PAREDEXPCT,Peer_influence,Teacher_support,Mathscore2
0,2,8,NaN,2.0,-0.4307,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
1,1,5,2.0,2.0,-0.8878,-0.31,0.19,-0.96,-0.15,8.0,10.0,4.000000000000000,3.600000000000000,0.00
2,1,6,6.0,4.0,1.3277,-2.22,NaN,-0.42,NaN,10.0,8.0,3.250000000000000,2.000000000000000,0.00
3,2,6,2.0,2.0,-0.5881,0.91,1.18,1.82,1.17,10.0,8.0,3.000000000000000,3.000000000000000,1.00
4,2,5,5.0,5.0,1.1812,0.42,-1.09,-0.42,0.11,10.0,8.0,3.500000000000000,2.600000000000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,1,8,NaN,5.0,0.0918,0.85,-1.47,-0.42,0.32,6.0,8.0,3.250000000000000,3.800000000000000,0.00
2347,1,2,4.0,NaN,-0.0126,0.73,1.18,0.70,1.38,13.0,6.0,2.666666666666670,2.600000000000000,0.00
2348,2,2,2.0,2.0,-0.2430,1.21,0.87,-0.37,0.32,13.0,10.0,3.333333333333330,4.000000000000000,1.00
2349,2,8,6.0,6.0,1.3536,0.70,1.18,0.12,-0.35,10.0,7.0,4.333333333333330,3.200000000000000,1.00
2350,2,8,2.0,2.0,-0.4213,0.89,NaN,1.82,0.71,12.0,12.0,2.500000000000000,NaN,1.00

### Encoding the categorical features

In [83]:
# One-hot-encode the categorical features in the combined data
# SEX and RACE
df_complete = pd.get_dummies(df_complete, columns=['X2SEX', 'X2RACE'])
df_complete

In [102]:
features = df_complete.columns.values
print(features)

['X2MOMEDU' 'X2DADEDU' 'X2SES' 'X2BEHAVEIN' 'X2MEFFORT' 'X2MTHID'
 'X2MTHEFF' 'X2STUEDEXPCT' 'X2PAREDEXPCT' 'Peer_influence'
 'Teacher_support' 'Mathscore2' 'X2SEX_1.0' 'X2SEX_2.0' 'X2RACE_1.0'
 'X2RACE_2.0' 'X2RACE_3.0' 'X2RACE_4.0' 'X2RACE_5.0' 'X2RACE_6.0'
 'X2RACE_7.0' 'X2RACE_8.0']

### Separating the training, validation and testing data

The code below shows how to separate the training, validation and testing data.

In [88]:
# Separating the training data
df_train = df_complete.iloc[:df_train.shape[0], :].copy(deep=True)

# Separating the validation data
df_valid = df_complete.iloc[df_train.shape[0]:df_train.shape[0] + df_valid.shape[0], :].copy(deep=True)

# Separating the testing data
df_test = df_complete.iloc[df_train.shape[0] + df_valid.shape[0]:, :].copy(deep=True)

In [89]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   16921         22

In [91]:
# Print the dimension of df_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    4231         22

In [92]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    2351         22

# Hyperparameter Tuning and Model Selection

## Creating the dictionary of the models

- In the dictionary:
    - the key is the acronym of the model
    - the value in the model

In [143]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
from xgboost.sklearn import XGBClassifier

models = {'lr': LogisticRegression(class_weight='balanced', random_state=42),
          'dtc': DecisionTreeClassifier(class_weight='balanced', random_state=42),
          'rfc': RandomForestClassifier(class_weight='balanced', random_state=42),
          'abc': AdaBoostClassifier(random_state=42),
          'hgbc': HistGradientBoostingClassifier(random_state=42),
          'xgbc': XGBClassifier(seed=42)}

### Creating the dictionary of the pipelines

In the dictionary:

- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [144]:

from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## Getting the feature matrix and target vector

In [175]:
X_train = df_train[features].to_numpy()
X_valid = df_valid[features].to_numpy()
X_test = df_test[features].to_numpy()

# Get the target vector
y_train = df_train[target].astype(int).to_numpy()
y_valid = df_valid[target].astype(int).to_numpy()
y_test = df_test[target].astype(int).to_numpy()

## Hyperparameter tuning and model selection using Sklearn (0.22 or above)

### Getting the predefined split cross-validator

In [146]:
from sklearn.model_selection import PredefinedSplit

# Combine the feature matrix in the training and validation data
X_train_valid = np.vstack((X_train, X_valid))

# Combine the target vector in the training and validation data
y_train_valid = np.append(y_train, y_valid)

# Get the indices of training and validation data
train_valid_idxs = np.append(np.full(X_train.shape[0], -1), np.full(X_valid.shape[0], 0))

# The PredefinedSplit
ps = PredefinedSplit(train_valid_idxs)

## Creating the dictionary of the parameter grids

- In the dictionary:
    - the key is the acronym of the model
    - the value is the parameter grid of the model

In [147]:
param_grids = {}

### The parameter grid for logistic regression

The hyperparameters we want to fine-tune are:
- C
- tol

See details of the meaning of the hyperparametes in sklearn.linear_model.LogisticRegression

In [148]:
# The grids for C
C_grids = [10 ** i for i in range(-2, 3)]

# The grids for tol
tol_grids = [10 ** i for i in range(-6, -1)]

# Update param_grids
param_grids['lr'] = [{'model__C': C_grids,
                      'model__tol': tol_grids}]

## The parameter grid for decision tree

The hyperparameters we want to fine-tune are:
- min_samples_split
- min_samples_leaf

See details of the meaning of the hyperparametes in sklearn.tree.DecisionTreeClassifier

In [149]:
# The grids for min_samples_split
min_samples_split_grids = [2, 20, 100]

# The grids for min_samples_leaf
min_samples_leaf_grids = [1, 20, 100]

# Update param_grids
param_grids['dtc'] = [{'model__min_samples_split': min_samples_split_grids,
                       'model__min_samples_leaf': min_samples_leaf_grids}]

## The parameter grid for random forest

The hyperparameters we want to fine-tune are:
- min_samples_split
- min_samples_leaf

See details of the meaning of the hyperparametes in sklearn.ensemble.RandomForestClassifier

In [150]:
# The grids for min_samples_split
min_samples_split_grids = [2, 20, 100]

# The grids for min_samples_leaf
min_samples_leaf_grids = [1, 20, 100]

# Update param_grids
param_grids['rfc'] = [{'model__min_samples_split': min_samples_split_grids,
                       'model__min_samples_leaf': min_samples_leaf_grids}]

## The parameter grid for Adaboost

The hyperparameters we want to fine-tune are:
- learning_rate

See details of the meaning of the hyperparametes in sklearn.ensemble.AdaBoostClassifier

In [151]:
learning_rate_grids = [10 ** i for i in range(-3, 2)]

# Update param_grids
param_grids['abc'] = [{'model__learning_rate': learning_rate_grids}]

## The parameter grid for histogram-based gradient boosting
The hyperparameters we want to fine-tune are:
- learning_rate
- min_samples_leaf

See details of the meaning of the hyperparametes in sklearn.ensemble.HistGradientBoostingClassifier

In [152]:
# The grids for learning_rate
learning_rate_grids = [10 ** i for i in range(-3, 2)]

# The grids for min_samples_leaf
min_samples_leaf_grids = [1, 20, 100]

# Update param_grids
param_grids['hgbc'] = [{'model__learning_rate': learning_rate_grids,
                        'model__min_samples_leaf': min_samples_leaf_grids}]

## The parameter grid for xgboost
The hyperparameters we want to fine-tune are:
- eta
- gamma
- lambda

See details of the meaning of the hyperparametes in XGBoost Parameters

In [153]:
# The grids for eta
eta_grids = [10 ** i for i in range(-4, 1)]

# The grids for gamma
gamma_grids = [0, 10, 100]

# The grids for lambda
lambda_grids = [10 ** i for i in range(-4, 5)]

# Update param_grids
param_grids['xgbc'] = [{'model__eta': eta_grids,
                        'model__gamma': gamma_grids,
                        'model__lambda': lambda_grids}]

## Creating the directory for the cv results.

In [154]:
import os

# Make directory
directory = os.path.dirname('./cv_results/')
if not os.path.exists(directory):
    os.makedirs(directory)

# Hyperparameter tuning
The code below shows how to fine-tune the hyperparameters of the models above (using sklearn GridSearchCV).

In [155]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_param_estimator_gs = []

for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_micro',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_valid, y_train_valid)
    
    # Update best_score_param_estimator_gs
    best_score_param_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf='./cv_results/' + acronym + '.csv', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\ProgramData\Anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

## Model selection

In [156]:
# Sort best_score_param_estimator_gs in descending order of the best_score_
best_score_param_estimator_gs = sorted(best_score_param_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_param_estimator_gs
pd.DataFrame(best_score_param_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

,best_score,best_param,best_estimator
0,1.000000,"{'model__min_samples_leaf': 1, 'model__min_sam...","(DecisionTreeClassifier(ccp_alpha=0.0, class_w..."
1,1.000000,"{'model__min_samples_leaf': 1, 'model__min_sam...","((DecisionTreeClassifier(ccp_alpha=0.0, class_..."
2,1.000000,{'model__learning_rate': 0.001},"((DecisionTreeClassifier(ccp_alpha=0.0, class_..."
3,1.000000,"{'model__eta': 0.0001, 'model__gamma': 0, 'mod...","(XGBClassifier(base_score=0.5, booster='gbtree..."
4,0.999291,"{'model__C': 100, 'model__tol': 1e-06}","(LogisticRegression(C=100, class_weight='balan..."
5,0.999291,"{'model__learning_rate': 1, 'model__min_sample...",(HistGradientBoostingClassifier(l2_regularizat...

In [157]:
# Get the best_score, best_param and best_estimator obtained by GridSearchCV
best_score_gs, best_param_gs, best_estimator_gs = best_score_param_estimator_gs[0]

In [158]:
# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)
y_test_pred

array([0, 1, 0, ..., 1, 1, 1])

In [177]:
df_result = pd.DataFrame({'predict':y_test_pred, 'actual': y_test})
df_result
# df_test.shape
# len(y_test)

      predict  actual
0           0       0
1           1       1
2           0       0
3           1       1
4           0       0
...       ...     ...
2346        0       0
2347        0       0
2348        1       1
2349        1       1
2350        1       1

[2351 rows x 2 columns]

In [178]:
pipes

{'lr': Pipeline(memory=None,
          steps=[('model',
                  LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=100,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=42,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'dtc': Pipeline(memory=None,
          steps=[('model',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight='balanced',
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         presort='deprecated', random_state=42,
                                         splitter='best'))],
          verbose=False),
 'rfc': Pipeline(memory=None,
          steps=[('model',
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight='balanced',
                                         criterion='gini', max_depth=None,
                                         max_features='auto',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         n_estimators=100, n_jobs=None,
                                         oob_score=False, random_state=42,
                                         verbose=0, warm_start=False))],
          verbose=False),
 'abc': Pipeline(memory=None,
          steps=[('model',
                  AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
                                     learning_rate=1.0, n_estimators=50,
                                     random_state=42))],
          verbose=False),
 'hgbc': Pipeline(memory=None,
          steps=[('model',
                  HistGradientBoostingClassifier(l2_regularization=0.0,
                                                 learning_rate=0.1, loss='auto',
                                                 max_bins=255, max_depth=None,
                                                 max_iter=100, max_leaf_nodes=31,
                                                 min_samples_leaf=20,
                                                 n_iter_no_change=None,
                                                 random_state=42, scoring=None,
                                                 tol=1e-07,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False))],
          verbose=False),
 'xgbc': Pipeline(memory=None,
          steps=[('model',
                  XGBClassifier(base_score=None, booster=None,
                                colsample_bylevel=None, colsample_bynode=None,
                                colsample_bytree=None, gamma=None, gpu_id=None,
                                importance_type='gain',
                                interaction_constraints=None, learning_rate=None,
                                max_delta_step=None, max_depth=None,
                                min_child_weight=None, missing=nan,
                                monotone_constraints=None, n_estimators=100,
                                n_jobs=None, num_parallel_tree=None,
                                objective='binary:logistic', random_state=None,
                                reg_alpha=None, reg_lambda=None,
                                scale_pos_weight=None, seed=42, subsample=None,
                                tree_method=None, validate_parameters=None,
                                verbosity=None))],
          verbose=False)}

In [179]:
param_grids

{'lr': [{'model__C': [0.01, 0.1, 1, 10, 100],
   'model__tol': [1e-06, 1e-05, 0.0001, 0.001, 0.01]}],
 'dtc': [{'model__min_samples_split': [2, 20, 100],
   'model__min_samples_leaf': [1, 20, 100]}],
 'rfc': [{'model__min_samples_split': [2, 20, 100],
   'model__min_samples_leaf': [1, 20, 100]}],
 'abc': [{'model__learning_rate': [0.001, 0.01, 0.1, 1, 10]}],
 'hgbc': [{'model__learning_rate': [0.001, 0.01, 0.1, 1, 10],
   'model__min_samples_leaf': [1, 20, 100]}],
 'xgbc': [{'model__eta': [0.0001, 0.001, 0.01, 0.1, 1],
   'model__gamma': [0, 10, 100],
   'model__lambda': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000]}]}